<div class="container">
  <div class="white-text wrapper deep-purple">
    <h1>Login</h1>
  </div>
  <div class="">
    <%= form_for @user, url: login_path do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>
    <%= f.submit "login"%>
    <div class="red-text container flow-text">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h6>
            <%= pluralize(@user.errors.count, "error") %>
            prohibited this session from being saved:
          </h6>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><h6>* <%= msg %></h6></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <%= link_to "Sign In with Github", "/auth/github" %>

</div>
