<div class="container">
<div class="white-text wrapper indigo accent-4">
  <h2>Create an Account</h2>
</div>
  <div class="">
    <%= form_for @user, url: signup_path do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>
    <%= f.submit "signup"%>
    <% end %>
  </div>

  <%= link_to "Sign Up with Github", "/auth/github" %>


</div>
