<div class="container">
  <div class="">
    <h1><%= @chart.full_name %></h1>
    <h4><%= "#{@chart.month}/#{@chart.day}/#{@chart.year} " %></h4>
    <%= link_to "edit", edit_user_chart_path(current_user, @chart) %>
    <%= form_tag user_chart_path(@chart.id), method: "delete" do %>
    <%= submit_tag "Delete" %>
  <% end %>
  </div>
  <br>
  <div>
    <h4><%= link_to "~ Birthday Number ~", birthday_path(@chart.birthday) %></h4>
    <p><%= @chart.birthday.short_description %></p>
  </div>
  <div class="">
    <h4><%= link_to "~ Life Path Number ~", life_path_path(@chart.life_path) %></h4>
    <p><%= @chart.life_path.short_description %></p>
  </div>
  <div class="">
    <h4><%= link_to "~ Soul Urge Number ~", soul_urge_path(@chart.soul_urge) %></h4>
    <p><%= @chart.soul_urge.short_description %></p>
  </div>
  <div class="">
    <h4><%= link_to "~ Soul Urge Challenge Number ~", soul_urge_challenge_path(@chart.soul_urge_challenge) %></h4>
    <p><%= @chart.soul_urge_challenge.short_description %></p>
  </div>
  <div class="">
    <h4><%= link_to "~ Expression Number ~", expression_path(@chart.expression) %></h4>
    <p><%= @chart.expression.short_description %></p>
  </div>
  <div class="">
    <h4><%= link_to "~ Expression Challenge Number ~", expression_challenge_path(@chart.expression_challenge) %></h4>
    <p><%= @chart.expression_challenge.short_description %></p>
  </div>
  <div class="">
    <h4><%= link_to "~ Personality Number ~", personality_path(@chart.personality) %> </h4>
    <p><%= @chart.personality.short_description %></p>
  </div>
  <div class="">
    <h4><%= link_to "~ Personality Challenge Number ~", personality_challenge_path(@chart.personality_challenge) %></h4>
    <p><%= @chart.personality_challenge.short_description %></p>
  </div>

</div>
