<div class="container">
  <div class="">
    <h1><%= @chart.full_name %></h1>
    <h4><%= "#{@chart.month}/#{@chart.day}/#{@chart.year} " %></h4>
    <%= link_to "edit", edit_user_chart_path(current_user, @chart) %>
    <%= form_tag user_chart_path(@chart.id), method: "delete" do %>
    <%= submit_tag "Delete" %>
  <% end %>
  </div>
  <br>
  <div class="flow-text">
    <h4><%= link_to "~ Birthday Number #{@chart.birthday_number} ~", birthday_path(@chart.birthday) %></h4>
    <p><%= @chart.birthday.short_description %></p>
  </div>
  <div class="flow-text">
    <h4><%= link_to "~ Life Path Number #{@chart.life_path_number} ~", life_path_path(@chart.life_path) %></h4>
    <p><%= @chart.life_path.short_description %></p>
  </div>
  <div class="flow-text">
    <h4><%= link_to "~ Soul Urge Number #{@chart.soul_urge_number} ~", soul_urge_path(@chart.soul_urge) %></h4>
    <p><%= @chart.soul_urge.short_description %></p>
  </div>
  <div class="flow-text">
    <h4><%= link_to "~ Soul Urge Challenge Number #{@chart.soul_urge_challenge_number} ~", soul_urge_challenge_path(@chart.soul_urge_challenge) %></h4>
    <p><%= @chart.soul_urge_challenge.short_description %></p>
  </div>
  <div class="flow-text">
    <h4><%= link_to "~ Expression Number #{@chart.expression_number} ~", expression_path(@chart.expression) %></h4>
    <p><%= @chart.expression.short_description %></p>
  </div>
  <div class="flow-text">
    <h4><%= link_to "~ Expression Challenge Number #{@chart.expression_challenge_number} ~", expression_challenge_path(@chart.expression_challenge) %></h4>
    <p><%= @chart.expression_challenge.short_description %></p>
  </div>
  <div class="flow-text">
    <h4><%= link_to "~ Personality Number #{@chart.personality_number} ~", personality_path(@chart.personality) %> </h4>
    <p><%= @chart.personality.short_description %></p>
  </div>
  <div class="flow-text">
    <h4><%= link_to "~ Personality Challenge Number #{@chart.personality_challenge_number} ~", personality_challenge_path(@chart.personality_challenge) %></h4>
    <p><%= @chart.personality_challenge.short_description %></p>
  </div>

</div>
