<!DOCTYPE html>
<html>
  <head>
    <title>NumerologyChartMaker2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material\Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper deep-purple">
          <!-- Neuatral Links -->
          <a class="brand-logo left" href="/">Digital Me  ｡^‿^｡</a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- Logged Out -->
            <% if !logged_in? %>
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
            <!-- Logged In -->
            <% else %>
            <li><%= link_to "Your Charts ∞", user_charts_path(current_user) %></li>
            <li><%= link_to "Create New Chart +", new_user_chart_path(current_user) %></li>
            <% end %>
          </ul>
      </div>
    </nav>
    <div>
      <% if logged_in? %>
      <%= "Hi, #{current_user.username}" %><%="    "%><%= link_to "(logout)", logout_path, method: "delete" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
