<!DOCTYPE html>
<html>
  <head>
    <title>NumerologyChartMaker2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/charts">All Charts</a><br>
      <a href="/charts/new">Create New Chart</a>
    </nav>
    <%= yield %>
  </body>
</html>
